### DB연동
- oracle 연동
- pip install oracledb

In [1]:
import oracledb
from datetime import datetime

In [2]:
conn = oracledb.connect(user='c##java',password='12345',dsn='localhost/xe')
cursor = conn.cursor()

In [3]:
now = datetime.today()
now

datetime.datetime(2025, 6, 10, 11, 40, 35, 813235)

In [4]:
sql = "select * from boardtbl where bno between 1 and 10"

cursor.execute(sql)

In [5]:
for row in cursor.fetchall():
    print(row)

(1, datetime.datetime(2025, 5, 12, 16, 34, 32, 453440), datetime.datetime(2025, 5, 12, 16, 34, 32, 453440), 'Board Content1', 'user4@gmail.com', 'Board Title1')
(2, datetime.datetime(2025, 5, 12, 16, 34, 32, 887548), datetime.datetime(2025, 5, 12, 16, 34, 32, 887548), 'Board Content2', 'user1@gmail.com', 'Board Title2')
(3, datetime.datetime(2025, 5, 12, 16, 34, 32, 903544), datetime.datetime(2025, 5, 12, 16, 34, 32, 903544), 'Board Content3', 'user7@gmail.com', 'Board Title3')
(4, datetime.datetime(2025, 5, 12, 16, 34, 32, 918070), datetime.datetime(2025, 5, 12, 16, 34, 32, 918070), 'Board Content4', 'user9@gmail.com', 'Board Title4')
(5, datetime.datetime(2025, 5, 12, 16, 34, 32, 934068), datetime.datetime(2025, 5, 12, 16, 34, 32, 934068), 'Board Content5', 'user10@gmail.com', 'Board Title5')
(6, datetime.datetime(2025, 5, 12, 16, 34, 32, 953071), datetime.datetime(2025, 5, 12, 16, 34, 32, 953071), 'Board Content6', 'user8@gmail.com', 'Board Title6')
(7, datetime.datetime(2025, 5, 12, 16, 34, 32, 968074), datetime.datetime(2025, 5, 12, 16, 34, 32, 968074), 'Board Content7', 'user5@gmail.com', 'Board Title7')
(8, datetime.datetime(2025, 5, 12, 16, 34, 32, 979075), datetime.datetime(2025, 5, 12, 16, 34, 32, 979075), 'Board Content8', 'user10@gmail.com', 'Board Title8')
(9, datetime.datetime(2025, 5, 12, 16, 34, 32, 990071), datetime.datetime(2025, 5, 12, 16, 34, 32, 990071), 'Board Content9', 'user10@gmail.com', 'Board Title9')
(10, datetime.datetime(2025, 5, 12, 16, 34, 33, 6069), datetime.datetime(2025, 5, 12, 16, 34, 33, 6069), 'Board Content10', 'user2@gmail.com', 'Board Title10')

In [8]:
# sql = "select * from boardtbl where bno=:bno"
sql = "select * from boardtbl where bno=:1"
cursor.execute(sql,(1,))
cursor.fetchone()

(1,
 datetime.datetime(2025, 5, 12, 16, 34, 32, 453440),
 datetime.datetime(2025, 5, 12, 16, 34, 32, 453440),
 'Board Content1',
 'user4@gmail.com',
 'Board Title1')

In [9]:
sql = "insert into boardtbl(title,content,member_id,created_date,updated_date) "
sql += "values(:1,:2,:3,:4,:5)"

data = ('python','python data','user1@gmail.com',now,now)
cursor.execute(sql,data)
conn.commit()

In [11]:
sql = "update boardtbl set title=:1, updated_date=:2 where bno=:3"

now = datetime.today()

cursor.execute(sql,('udpate title',now, 128))
conn.commit()

In [12]:
sql = "delete from boardtbl where bno=:1"
cursor.execute(sql,(128,))
conn.commit()