### DB 연동
- 내장 DB : SQLite
    - RDBMS : 테이블 형태 DB

In [1]:
import sqlite3
from datetime import datetime

In [2]:
print('version ', sqlite3.sqlite_version)

version  3.49.1

In [4]:
now = datetime.now()
print(now)

# 원하는 형식으로 변경
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print(nowDateTime)

2025-06-10 10:48:53.621997
2025-06-10 10:48:53

In [ ]:
# 데이터베이스 생성
# isolation_level : autocommit 하지 않기
conn = sqlite3.connect("./test.db", isolation_level=None)

In [7]:
cursor = conn.cursor()

In [8]:
# 테이블 생성

sql = "create table if not exists users(id integer primary key, username text, email text, phone text, website text, regdate text)"

cursor.execute(sql)

In [9]:
# create(insert)

sql = "insert into users(id,username,email,phone,website,regdate) "
sql += "values(1, 'kim', 'kim@gamil.com', '010-1234-1234','Kim.com',?)"

# ? : 튜플로 지정하기
cursor.execute(sql,(nowDateTime,))

In [10]:
sql = "insert into users(id,username,email,phone,website,regdate) "
sql += "values(?, ?, ?, ?, ?, ?)"

# ? : 튜플로 지정하기
cursor.execute(sql,(2, 'Park', 'Park@gamil.com', '010-1234-1234','Park.com',nowDateTime))

In [11]:
userList = [
    (3, 'Hong', 'Hong@gamil.com', '010-1234-1234','Hong.com',nowDateTime),
    (4, 'Cho', 'Cho@gamil.com', '010-1234-1234','Cho.com',nowDateTime),
    (5, 'Yoo', 'Yoo@gamil.com', '010-1234-1234','Yoo.com',nowDateTime)
]

cursor.executemany(sql, userList)

In [12]:
# 조회(Read) - fetchone(), fetchmany(), fetchall()

sql = "select * from users"

cursor.execute(sql)

In [13]:
cursor.fetchone()

(1, 'kim', 'kim@gamil.com', '010-1234-1234', 'Kim.com', '2025-06-10 10:48:53')

In [14]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@gamil.com',
  '010-1234-1234',
  'Park.com',
  '2025-06-10 10:48:53'),
 (3,
  'Hong',
  'Hong@gamil.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:53')]

In [15]:
cursor.fetchall()

[(4,
  'Cho',
  'Cho@gamil.com',
  '010-1234-1234',
  'Cho.com',
  '2025-06-10 10:48:53'),
 (5,
  'Yoo',
  'Yoo@gamil.com',
  '010-1234-1234',
  'Yoo.com',
  '2025-06-10 10:48:53')]

In [16]:
sql = "select * from users"

cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

(1, 'kim', 'kim@gamil.com', '010-1234-1234', 'Kim.com', '2025-06-10 10:48:53')
(2, 'Park', 'Park@gamil.com', '010-1234-1234', 'Park.com', '2025-06-10 10:48:53')
(3, 'Hong', 'Hong@gamil.com', '010-1234-1234', 'Hong.com', '2025-06-10 10:48:53')
(4, 'Cho', 'Cho@gamil.com', '010-1234-1234', 'Cho.com', '2025-06-10 10:48:53')
(5, 'Yoo', 'Yoo@gamil.com', '010-1234-1234', 'Yoo.com', '2025-06-10 10:48:53')

In [17]:
sql = "select * from users where id=?"

cursor.execute(sql,(3,))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gamil.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:53')]

In [18]:
sql = "select * from users where id in (?,?)"

cursor.execute(sql,(3,5))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gamil.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:53'),
 (5,
  'Yoo',
  'Yoo@gamil.com',
  '010-1234-1234',
  'Yoo.com',
  '2025-06-10 10:48:53')]

In [19]:
# username : Hong
sql = "select * from users where username=?"

cursor.execute(sql,("Hong",))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@gamil.com',
  '010-1234-1234',
  'Hong.com',
  '2025-06-10 10:48:53')]

In [20]:
# 수정 : update

sql = "update users set phone=? where id=?"

cursor.execute(sql,('010-4567-8528',2))

In [21]:
# 삭제 : delete

sql = "delete from users where id=?"
cursor.execute(sql, (5,))