#### 리스트 
- java/javascript 의 배열과 개념 동일 
- javascript의 배열과 동작방식이 동일함(데이터 여러타입을 담을수있음)

In [3]:
#리스트 생성 
# list()

list1 = []
list2 = ["a","b","c",1,2,3]
list3 = [1,2,3,4,5.5,6.5]
list4 = [1,2,["Life","is","short"]] # 2차원 리스트
list5 = list('34')

In [5]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 4, 5.5, 6.5]
[1, 2, ['Life', 'is', 'short']]
['3', '4']

In [ ]:
print(list2[0])
print(list4[2])
print(list4[-1])
print(list4[-1][0])
print(list5[-1])

a
['Life', 'is', 'short']
['Life', 'is', 'short']
Life
4

In [12]:
list6 = [1,2,["a","b",["Life","is"]]]

# is 글자 출력
print(list6[2][2][1])
print(list6[-1][-1][-1])

is
is

In [15]:
print(list2)
print(list2[:2])
print(list2[2:])

print(list4)
print(list4[2][:2])

['a', 'b', 'c', 1, 2, 3]
['a', 'b']
['c', 1, 2, 3]
[1, 2, ['Life', 'is', 'short']]
['Life', 'is']

In [18]:
# + / *
print(list2 + list3)
print(list2 * 3)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3, 4, 5.5, 6.5]
['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [22]:
list2[1] = 'd'
print(list2)

list2[1:2] = [10,11,12]
print(list2)

list2[1] = [15,16,17]
print(list2)

['a', 'd', 11, 12, 'c', 1, 2, 3]
['a', 10, 11, 12, 11, 12, 'c', 1, 2, 3]
['a', [15, 16, 17], 11, 12, 11, 12, 'c', 1, 2, 3]

In [24]:
del list2[1]
print(list2)

['a', 12, 11, 12, 'c', 1, 2, 3]

In [26]:
# len() : 길이 

len(list2)

8

In [29]:
for i in list2:
    print(i, end=" ")

a 12 11 12 c 1 2 3

In [ ]:
# append(요소는 하나) : 리스트 뒤에 요소 추가
list5.append('5')
list5.append([6,7,8])
list5

['3', '4', '5', '5', '5', [6, 7, 8]]

In [44]:
# 1 ~ 100 숫자 중에서 짝수만 리스트로 생성
# range(시작,종료,증감) : 종료는 포함하지않음

even = []

for i in range(2, 101 , 2):
    # print(i,end=" ")
    even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [45]:

list1 = [1,4,3,2]
list1.sort()
list1

[1, 2, 3, 4]

In [50]:
list2 =['z','b','c','f']
list2.sort()
list2

['b', 'c', 'f', 'z']

In [59]:
list2 =['F','B','A','C']
list2.sort() # 대문자 => 소문자
list2

['A', 'B', 'C', 'F']

In [60]:
#sort(reverse=True)
print("정렬 전",list2)
list2.sort(reverse=True)
print("정렬 후",list2)

정렬 전 ['A', 'B', 'C', 'F']
정렬 후 ['F', 'C', 'B', 'A']

In [ ]:
# reverse() : 리스트 뒤집기

print(list3)
list3.reverse()
print(list3)

[6.5, 5.5, 4, 3, 2, 1]
[1, 2, 3, 4, 5.5, 6.5]