### 제어문
- if

In [1]:
a = 200
if a < 100:
    print("a 는 100보다 작다")

In [ ]:
if 100 < a < 300:  # a > 100 and a < 300
    print("a 는 100보다 크고 300보다 작다")

a 는 100보다 크고 300보다 작다

In [ ]:
# a=12, b=6, c=18
# 가장 큰 수 출력

# a=12
# b=6
# c=18
a, b, c = 12,6,18

max=a
if max < b:
    max = b
if max < c:
    max = c

print(f"가장 큰 수는 {max}")

가장 큰 수는 18

In [4]:
if a < 100:
    print("a 는 100보다 작다")
else:
    print("a 는 100보다 크다")

a 는 100보다 작다

In [ ]:
# &&, || (python 에서는 사용안함) and, or
score, grade = 90, "A"

if score>=90 and grade == "A":
    print("합격")
else:
    print("불합격")

합격

In [6]:
# 사용자한테 입력받은 숫자가 짝,홀 출력
num = int(input("숫자 입력 : "))
if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [9]:
# if ~ elif ~ else

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"등급 {grade}")

등급 A

In [10]:
# 숫자 두개 입력, 연산자(+,-,*,/,//,%) 입력
# 계산기

num1 = int(input("Num1 입력 : "))
op = input("연산자(+,-,*,/,//,%) 입력 : ")
num2 = int(input("Num2 입력 : "))

result = 0
if op == "+":
    result = num1 + num2
elif op == "-":
    result = num1 - num2
elif op == "*":
    result = num1 * num2
elif op == "/":
    result = num1 / num2
elif op == "//":
    result = num1 // num2
elif op == "%":
    result = num1 % num2
else:
    print("연산자 확인")

print(f"{num1} {op} {num2} = {result}")

15 + 5 = 20

In [ ]:
# x in 리스트 : x 가 리스트안에 포함되어 있느냐?
# x in 문자열 : x 가 문자열안에 포함되어 있느냐?

print(1 in [1,2,3])
print("a" in "abc")

True
True

In [12]:
1 not in [1,2,3]

False

In [14]:
pocket = ["paper","money","cellphone"]
if "money" in pocket:
    print('money 있음')

money 있음

In [15]:
# 파이썬에 삼항 연산자(조건 ? 참:거짓) 는 없음

# message = ""
# if score >= 60:
#     message = "success"
# else:
#     message = "fail"

message = "success" if score >= 60 else "fail"
message

'success'

### 반복문
- while
- for

In [17]:
i = 1
while i < 11:
    print(i, end=" ")
    # i++ (X)
    i = i + 1

1 2 3 4 5 6 7 8 9 10

In [21]:
# 1 ~ 100 합계
i,hap = 1,0
while i < 101:
    # print(i, end=" ")
    # i++ (X)
    hap += i
    i = i + 1

print(f"1~100 합 {hap}")

1~100 합 5050

In [27]:
print(range(5))
print(list(range(5)))
print(sum(range(5)))
print(sum(range(101)))
print(sum(range(1,101)))
print(sum(range(1,101,2))) # 1,3,5... (홀수합)

range(0, 5)
[0, 1, 2, 3, 4]
10
5050
5050
2500

In [28]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [29]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [30]:
for i in range(1,101,2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [31]:
# 1 ~ 사용자가 입력한 숫자까지 합계 구하기
num = int(input("숫자 : ")) + 1

hap = 0
for i in range(1,num):
    hap += i

print(f"1 ~ : {hap}")

1 ~ : 55

In [32]:
for i in range(5, -1, -1):
    print(i, end=" ")

5 4 3 2 1 0

In [33]:
list1 = ["사과","딸기","바나나","포도"]

# 리스트 출력
for fruit in list1:
    print(fruit)

사과
딸기
바나나
포도

In [ ]:
# tuple : (0, '사과')

# enumerate(리스트,문자열,set,튜플,딕셔너리)

for idx,fruit in enumerate(list1):
    print(fruit)
    print(idx, fruit)

사과
0 사과
딸기
1 딸기
바나나
2 바나나
포도
3 포도

In [36]:
a_class = [70,60,55,75,95,90,80,85,100]

# a_class 의 중간고사 점수에 대해서 평균 구하기
total = 0
for num in a_class:
    total += num

print("평균 : %.2f" % (total / len(a_class)))

평균 : 78.89

In [38]:
print("평균 : %.2f" % (sum(a_class) / len(a_class)))

평균 : 78.89